@*@model IEnumerable<Project.Models.Product>*@
<!-- Thêm thư viện -->
@model PagedList.IPagedList<Project.Models.Product>
@using PagedList.Mvc;
    <!-- Kết thúc-->



    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Alias
            </th>
            <th>
                Image
            </th>
            <th>
                MoreImages
            </th>
            <th>
                Price
            </th>
            <th>
                Promotion
            </th>
            <th>
                Warranty
            </th>
            <th>
                Description
            </th>
            <th>
                Content
            </th>
            <th>
                MetaKeyword
            </th>
            <th>
                MetaDescription
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                CreatedBy
            </th>
            <th>
                UpdatedDate
            </th>
            <th>
                UpdatedBy
            </th>
            <th>
                Status
            </th>
            <th>
                HomeFlag
            </th>
            <th>
                HotFlag
            </th>
            <th>
                ViewCount
            </th>
            <th>
                ProductCategoryName
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoreImages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetaKeyword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetaDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                </td>
                <td style="width:150px; float:left">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) | @Html.ActionLink("Details", "Details", new { id = item.ID }) | @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

    <!-- Thêm mã phân trang -->
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <!-- Kết thúc -->
