@*@model IEnumerable<Project.Models.Customer>*@
<!-- Thêm thư viện -->
@model PagedList.IPagedList<Project.Models.Customer>
@using PagedList.Mvc;
<!-- Kết thúc-->

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            FullName
        </th>
        <th>
            Address
        </th>
        <th>
            Email
        </th>
        <th>
            Photo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { username = item.Username }) |
                @Html.ActionLink("Details", "Details", new { username = item.Username }) |
                @Html.ActionLink("Delete", "Delete", new { username = item.Username })
            </td>
        </tr>
    }

</table>
<!-- Thêm mã phân trang -->
<div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<!-- Kết thúc -->
